Marks Querying Service/client side/client_website/Service References/SqlSendData/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SendToSql">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="student_roll" type="xs:int" />
        <xs:element minOccurs="0" name="student_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maths" type="xs:int" />
        <xs:element minOccurs="0" name="physics" type="xs:int" />
        <xs:element minOccurs="0" name="chemistry" type="xs:int" />
        <xs:element minOccurs="0" name="social" type="xs:int" />
        <xs:element minOccurs="0" name="english" type="xs:int" />
        <xs:element minOccurs="0" name="computers" type="xs:int" />
        <xs:element minOccurs="0" name="secondlang" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="secondlang_marks" type="xs:int" />
        <xs:element minOccurs="0" name="if_passed" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendToSqlResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>